[Unit]
Description=Audrey Agent
After= syslog.target network.target NetworkManager-wait-online.service NetworkManager.service
Requires= syslog.target network.target NetworkManager-wait-online.service NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/usr/bin/audrey

[Install]
WantedBy=multi-user.target
