*.swp
job*.cnd
*-*-*-*-*
*.pyc
*.log
agent/pkg/*
agent/.coverage
agent/htmlcov/
agent/dist/
src/audrey/__init__.py
configserver/pkg/*
configserver/src/coverage/
configserver/src/common_config.rb
configserver/aeolus-configserver.spec
