<template>
  <name>fedora14-2</name>
  <os>
    <name>Fedora</name>
    <version>14</version>
    <arch>x86_64</arch>
  </os>
  <description>Fedora 14 simple</description>
  <services>
    <puppet>
      <service name="sshd">
        <class>ssh::server</class>
        <parameter type="scalar" name="ssh_port" required="true"/>
        <parameter type="scalar" name="operatingsystem" provided="true"/>
        <parameter type="scalar" name="is_virtual" provided="true"/>
      </service>
      <service name="apache">
        <class>apache2::common</class>
        <parameter type="scalar" name="apache_port" required="true"/>
      </service>
      <service name="dependency">
        <parameter type="scalar" name="input" required="true"/>
      </service>
    </puppet>
  </services>
</template>
